.plus {
    border-radius: 50%;
    border: none;
    background-color: white;
    font-size: 25px;
    color: #d80101;
}

.container-fluid {
    margin-top: 30px;
    margin-left: 25px;
    /* background-color: #d80101; */
}

.chat {
    height: 30px;
}

.form-control {
    border-radius: 50px 50px;
    background-color: rgb(238, 238, 238);
    border: none;
}

.smile {
    border-radius: 50%;
    border: none;
    color: #d80101;
    font-size: 23px;
    background-color: white;
}

.image {
    border-radius: 50%;
    border: none;
    font-size: 23px;
    color: #d80101;
    background-color: white;
}

.send {
    border-radius: 50%;
    border: none;
    font-size: 23px;
    color: #d80101;
    background-color: white;
}
