<div class="typing">
    <form action="" class=" row">

        <input type="input" class="input-text col-10" placeholder="Input text here">
        <div class="typing__actions col-2 row">
            <button class="btn images"> <i class="fas fa-image"></i></button>
            <button class="btn emotions"><i class="fas fa-smile "></i></button>
            <button type="submit" class="btn sending-text"> <i class="fa fa-paper-plane" aria-hidden="true"></i></button>
        </div>
    </form>
</div>
