<div class="container-fluid main-chat">
    <!-- Partner chat -->
    <div class="partner-chat  container-fluid row">
        <div class="wrapper col-12 row">
            <div class="avatar--wrapper">
                <img class=" partner__avatar avatar" src="../../../../../assets/avatar.jpg">
            </div>
            <div class="text--wrapper">
                <h6 class="partner__name">Phan Thành Đoan</h6>
                <p class="partner__text text ">Tefffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffaa5555</p>
            </div>
        </div>
    </div>
    <!-- End parter chat -->
    <!-- My chat -->
    <div class="my-chat container-fluid row">
        <div class="text--wrapper col-12">
            <div class="text--border">

                <p class=" my__text text">Tsssssssssssssssssseafffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffaaaggga</p>
            </div>
        </div>
    </div>
    <!-- End my chat -->

</div>
