// /* width */
// ::-webkit-scrollbar {
//     width: 1px;
//     height: 3px;
// }
// /* Track */
// ::-webkit-scrollbar-track {
//     background: #f1f1f1;
// }
// /* Handle */
// ::-webkit-scrollbar-thumb {
//     border-radius: 50px;
//     background: rgb(68, 68, 68);
// }
// /* Handle on hover */
// ::-webkit-scrollbar-thumb:hover {
//     background-image: linear-gradient(#d32a4c, #eb522cc4);
// }
.wrapper {
    position: relative;
    bottom: 0;
    height: 60vh;
    z-index: 2;
    overflow-y: scroll;
    .list-friends {
        width: 100%;
        margin: 0;
         :hover {
            cursor: pointer;
            transition: linear 0.2s;
            background-image: linear-gradient(#d32a4c, #eb522cc4);
            color: rgb(252, 228, 255);
        }
    }
    // .image-logo {
    //     height: 5vh;
    //     width: 5vh;
    // }
    .friend {
        // border-radius: 1vw;
        color: rgb(170, 170, 170);
        margin-top: 2vh;
        display: flex;
        // border-radius: 3vw;
        padding-top: 1vh;
        padding-bottom: 1vh;
        margin-right: 4vh;
        width: 100%;
        overflow-y: hidden;
        .friend__avatar {
            margin-left: 30px;
        }
        .avatar--circle {
            border-radius: 50%;
        }
        .avatar--small {
            width: 3vw;
            height: 3vw;
        }
        .friend__infor {
            overflow-y: hidden;
            background-color: transparent;
            font-size: 1vw;
            margin-left: 10px;
        }
        .text--small {
            overflow-y: hidden;
            background-color: transparent;
            width: 100%;
            font-weight: lighter;
            font-size: smaller;
        }
    }
}

.wrapper::-webkit-scrollbar-track {
    border-radius: 50px;
    background-color: transparent;
}

.wrapper::-webkit-scrollbar {
    width: 0.5vw;
    position: absolute;
    background-color: transparent;
}

.wrapper::-webkit-scrollbar-thumb {
    border-radius: 50px;
    background-color: transparent;
}

.wrapper:hover::-webkit-scrollbar-thumb {
    transition: linear 0.5s;
    background-image: linear-gradient(#d32a4c, #eb522cdc);
}

@media only screen and (max-width: 992px) {
    .wrapper {
        .list-friends {
             :hover {}
            .friend {
                width: 100%;
                text-align: center;
                .friend__avatar {}
                .avatar--circle {}
                .avatar--small {
                    width: 5vw;
                    height: 5vw;
                }
                .friend__infor {
                    font-size: 2vw;
                    margin-left: 2vw;
                }
                .text--small {}
            }
        }
    }
    .wrapper::-webkit-scrollbar {
        width: 1vw;
        position: absolute;
        background-color: transparent;
    }
}
