<div class="modal fade" id="themeModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Chủ đề</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="box-theme" *ngFor="let t of this.getListTheme()" >
          <div class="circle-theme" style.background={{t.mainColor}}
          (click)="setTheme(t)">
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="this.close()" data-bs-dismiss="modal">Đóng</button>
        <button type="button" class="btn btn-secondary" (click)="this.save()" data-bs-dismiss="modal">Lưu</button>

      </div>
    </div>
  </div>
</div>
