<!-- <div class="content"> -->

<div class="container-fluid">
    <div class="body-box">
        <!-- Item -->
        <div class="chat mt-3 p-3 h-100">
            <div class="col-lg-12 col-sm-12">
                <div class="name row w-100">
                    <div class="col-lg-4 col-sm-12">
                        <div class="avt">
                            <img class="avatar-chat" src="assets/image/avatar.jpg" alt="" />
                        </div>
                    </div>
                    <div class="col-lg-8 col-sm-12">
                        <div class="user">
                            <div class="row">
                                <h5>Mai Huynh Phuoc Dat</h5>
                            </div>
                            <div class="row">
                                <p>Tin nhan moi nhat</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End item -->
        <!-- Item -->
        <div class="chat mt-3 p-3 h-100">
            <div class="col-lg-12 col-sm-12">
                <div class="name row w-100">
                    <div class="col-lg-4 col-sm-12">
                        <div class="avt">
                            <img class="avatar-chat" src="assets/image/avatar.jpg" alt="" />
                        </div>
                    </div>
                    <div class="col-lg-8 col-sm-12">
                        <div class="user">
                            <div class="row">
                                <h5>Mai Huynh Phuoc Dat</h5>
                            </div>
                            <div class="row">
                                <p>Tin nhan moi nhat</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End item -->
        <!-- Item -->
        <div class="chat mt-3 p-3 h-100">
            <div class="col-lg-12 col-sm-12">
                <div class="name row w-100">
                    <div class="col-lg-4 col-sm-12">
                        <div class="avt">
                            <img class="avatar-chat" src="assets/image/avatar.jpg" alt="" />
                        </div>
                    </div>
                    <div class="col-lg-8 col-sm-12">
                        <div class="user">
                            <div class="row">
                                <h5>Mai Huynh Phuoc Dat</h5>
                            </div>
                            <div class="row">
                                <p>Tin nhan moi nhat</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End item -->
        <!-- Item -->
        <div class="chat mt-3 p-3 h-100">
            <div class="col-lg-12 col-sm-12">
                <div class="name row w-100">
                    <div class="col-lg-4 col-sm-12">
                        <div class="avt">
                            <img class="avatar-chat" src="assets/image/avatar.jpg" alt="" />
                        </div>
                    </div>
                    <div class="col-lg-8 col-sm-12">
                        <div class="user">
                            <div class="row">
                                <h5>Mai Huynh Phuoc Dat</h5>
                            </div>
                            <div class="row">
                                <p>Tin nhan moi nhat</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End item -->
        <!-- Item -->
        <div class="chat mt-3 p-3 h-100">
            <div class="col-lg-12 col-sm-12">
                <div class="name row w-100">
                    <div class="col-lg-4 col-sm-12">
                        <div class="avt">
                            <img class="avatar-chat" src="assets/image/avatar.jpg" alt="" />
                        </div>
                    </div>
                    <div class="col-lg-8 col-sm-12">
                        <div class="user">
                            <div class="row">
                                <h5>Mai Huynh Phuoc Dat</h5>
                            </div>
                            <div class="row">
                                <p>Tin nhan moi nhat</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End item -->
        <!-- Item -->
        <div class="chat mt-3 p-3 h-100">
            <div class="col-lg-12 col-sm-12">
                <div class="name row w-100">
                    <div class="col-lg-4 col-sm-12">
                        <div class="avt">
                            <img class="avatar-chat" src="assets/image/avatar.jpg" alt="" />
                        </div>
                    </div>
                    <div class="col-lg-8 col-sm-12">
                        <div class="user">
                            <div class="row">
                                <h5>Mai Huynh Phuoc Dat</h5>
                            </div>
                            <div class="row">
                                <p>Tin nhan moi nhat</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End item -->
    </div>
</div>

<div class="container">
    <div class="row text-center">
        <div class="col-sm-4">
            <div class="icon-more">
                <button class="btn icon-more">
          <i class="fas fa-bars"></i>
        </button>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="icon-group">
                <button class="btn icon-group">
          <i class="fas fa-users"></i>
        </button>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="icon-list">
                <button class="btn icon-list">
          <i class="fas fa-address-book"></i>
        </button>
            </div>
        </div>
    </div>
</div>
