<div class="modal fade" id="searchModal" tabindex="-1" aria-labelledby="searchModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="searchModalLabel">Tìm kiếm tin nhắn</h5>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-3 form-field">
                        <input type="text" class="form-control form-input" placeholder=" " id="recipient-name" (keyup)="getKeyWord($event)" />
                        <label for="recipient-name" class="col-form-label form-label">Nhập từ khóa cần tìm</label
            >
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary btnclose"
          data-bs-dismiss="modal"
        >
          Đóng
        </button>
        <button
          type="button"
          class="done btn btn-danger create"
          data-bs-dismiss="modal"
          (click)="getKeyWordToSearch()"
        >
          Tìm kiếm
        </button>
      </div>
    </div>
  </div>
</div>
