<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Nhắn tin nhóm</h5>

            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-3">
                        <div class="alert alert-{{this.alert}}" style="width:100%" *ngIf="this.message!=''" role="alert">
                            {{this.message}}
                        </div>
                        <label for="room-name" class="col-form-label">Nhập tên phòng:</label>
                        <input type="text" class="form-control" [(ngModel)]="this.roomName" [ngModelOptions]="{standalone: true}">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="this.clear()" data-bs-dismiss="modal">Đóng</button>
                <button type="submit" class="done btn btn-danger" (click)="this.createRoomChat()">Tạo phòng</button>
                <button type="submit" class="done btn btn-danger" (click)="this.joinRoomChat()">Vào phòng</button>
            </div>
        </div>
    </div>
</div>