<div class="container-fluid">
    <div class="chat-content" >
        <div class="row" *ngFor="let mes of this.selectedChatContent.messages">
              <div *ngIf="mes.mine" class="col-7"></div>
              <div *ngIf="mes.mine" class="user col-5"  >
                  <p>{{mes.message}}</p>

              </div>
              <div *ngIf="!mes.mine" class="friend col-5"  >
                <p>{{mes.message}}</p>
            </div>
              <div *ngIf="!mes.mine" class="col-7"></div>
            </div>
    </div>
</div>
