<div class="wrapper">
    <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade" id="pills-chat" role="tabpanel" aria-labelledby="pills-chat-tab">
        </div>
        <div class="tab-pane fade show active" id="pills-friends" role="tabpanel" aria-labelledby="pills-friends-tab">
            <div class="list friends">
                <div class="friend item">
                    <img class="friend__avatar avatar--circle avatar--small" src="../../../../../assets/avatar.jpg" alt="">
                    <h4 class="friend__infor">Nguyen Van A <span class="text--small"><br>I'm from NLU</span></h4>
                </div>

                <div class="friend item">
                    <img class="friend__avatar avatar--circle avatar--small" src="../../../../../assets/avatar.jpg" alt="">
                    <h4 class="friend__infor">Nguyen Van A <span class="text--small"><br>Hello guys</span></h4>
                </div>
                <div class="friend item">
                    <img class="friend__avatar avatar--circle avatar--small" src="../../../../../assets/avatar.jpg" alt="">
                    <h4 class="friend__infor">Nguyen Van A <span class="text--small"><br>I'm from NLU</span></h4>
                </div>

                <div class="friend item">
                    <img class="friend__avatar avatar--circle avatar--small" src="../../../../../assets/avatar.jpg" alt="">
                    <h4 class="friend__infor">Nguyen Van A <span class="text--small"><br>Hello guys</span></h4>
                </div>
                <div class="friend item">
                    <img class="friend__avatar avatar--circle avatar--small" src="../../../../../assets/avatar.jpg" alt="">
                    <h4 class="friend__infor">Nguyen Van A <span class="text--small"><br>I'm from NLU</span></h4>
                </div>

                <div class="friend item">
                    <img class="friend__avatar avatar--circle avatar--small" src="../../../../../assets/avatar.jpg" alt="">
                    <h4 class="friend__infor">Nguyen Van A <span class="text--small"><br>Hello guys</span></h4>
                </div>
                <div class="friend item">
                    <img class="friend__avatar avatar--circle avatar--small" src="../../../../../assets/avatar.jpg" alt="">
                    <h4 class="friend__infor">Nguyen Van A <span class="text--small"><br>I'm from NLU</span></h4>
                </div>

                <div class="friend item">
                    <img class="friend__avatar avatar--circle avatar--small" src="../../../../../assets/avatar.jpg" alt="">
                    <h4 class="friend__infor">Nguyen Van A <span class="text--small"><br>Hello guys</span></h4>
                </div>
                <div class="friend item">
                    <img class="friend__avatar avatar--circle avatar--small" src="../../../../../assets/avatar.jpg" alt="">
                    <h4 class="friend__infor">Nguyen Van A <span class="text--small"><br>I'm from NLU</span></h4>
                </div>

                <div class="friend item">
                    <img class="friend__avatar avatar--circle avatar--small" src="../../../../../assets/avatar.jpg" alt="">
                    <h4 class="friend__infor">Nguyen Van A <span class="text--small"><br>Hello guys</span></h4>
                </div>
                <div class="friend item">
                    <img class="friend__avatar avatar--circle avatar--small" src="../../../../../assets/avatar.jpg" alt="">
                    <h4 class="friend__infor">Nguyen Van A <span class="text--small"><br>I'm from NLU</span></h4>
                </div>

                <div class="friend item">
                    <img class="friend__avatar avatar--circle avatar--small" src="../../../../../assets/avatar.jpg" alt="">
                    <h4 class="friend__infor">Nguyen Van A <span class="text--small"><br>Hello guys</span></h4>
                </div>

            </div>
        </div>
        <div class="tab-pane fade" id="pills-setting" role="tabpanel" aria-labelledby="pills-setting-tab">...</div>
    </div>

    <div class="image-logo">
        <!-- <img src="assets/The Anh Em Company.png" alt=""> -->
    </div>
</div>
