<div class="wrapper">
    <div class="list-friends">
        <div class="friend">
            <img class="friend__avatar avatar--circle avatar--small" src="../../../../../assets/avatar.jpg" alt="">
            <h4 class="friend__infor">Nguyen Van A <span class="text--small"><br>Bạn : Tối nay ăn gì ?</span></h4>
        </div>

        <div class="friend">
            <img class="friend__avatar avatar--circle avatar--small" src="../../../../../assets/avatar.jpg" alt="">
            <h4 class="friend__infor">Nguyen Van A <span class="text--small"><br>Bạn : Tối nay ăn gì ?</span></h4>
        </div>
        <div class="friend">
            <img class="friend__avatar avatar--circle avatar--small" src="../../../../../assets/avatar.jpg" alt="">
            <h4 class="friend__infor">Nguyen Van A <span class="text--small"><br>Bạn : Tối nay ăn gì ?</span></h4>
        </div>
        <div class="friend">
            <img class="friend__avatar avatar--circle avatar--small" src="../../../../../assets/avatar.jpg" alt="">
            <h4 class="friend__infor">Nguyen Van A <span class="text--small"><br>Bạn : Tối nay ăn gì ?</span></h4>
        </div>
        <div class="friend">
            <img class="friend__avatar avatar--circle avatar--small" src="../../../../../assets/avatar.jpg" alt="">
            <h4 class="friend__infor">Nguyen Van A <span class="text--small"><br>Bạn : Tối nay ăn gì ?</span></h4>
        </div>
        <div class="friend">
            <img class="friend__avatar avatar--circle avatar--small" src="../../../../../assets/avatar.jpg" alt="">
            <h4 class="friend__infor">Nguyen Van A <span class="text--small"><br>Bạn : Tối nay ăn gì ?</span></h4>
        </div>
        <div class="friend">
            <img class="friend__avatar avatar--circle avatar--small" src="../../../../../assets/avatar.jpg" alt="">
            <h4 class="friend__infor">Nguyen Van A <span class="text--small"><br>Bạn : Tối nay ăn gì ?</span></h4>
        </div>
        <div class="friend">
            <img class="friend__avatar avatar--circle avatar--small" src="../../../../../assets/avatar.jpg" alt="">
            <h4 class="friend__infor">Nguyen Van A <span class="text--small"><br>Bạn : Tối nay ăn gì ?</span></h4>
        </div>
        <div class="friend">
            <img class="friend__avatar avatar--circle avatar--small" src="../../../../../assets/avatar.jpg" alt="">
            <h4 class="friend__infor">Nguyen Van A <span class="text--small"><br>Bạn : Tối nay ăn gì ?</span></h4>
        </div>
        <div class="friend">
            <img class="friend__avatar avatar--circle avatar--small" src="../../../../../assets/avatar.jpg" alt="">
            <h4 class="friend__infor">Nguyen Van A <span class="text--small"><br>Bạn : Tối nay ăn gì ?</span></h4>
        </div>
        <div class="friend">
            <img class="friend__avatar avatar--circle avatar--small" src="../../../../../assets/avatar.jpg" alt="">
            <h4 class="friend__infor">Nguyen Van A <span class="text--small"><br>Bạn : Tối nay ăn gì ?</span></h4>
        </div>
        <div class="friend">
            <img class="friend__avatar avatar--circle avatar--small" src="../../../../../assets/avatar.jpg" alt="">
            <h4 class="friend__infor">Nguyen Van A <span class="text--small"><br>Bạn : Tối nay ăn gì ?</span></h4>
        </div>


    </div>
    <div class="image-logo">
        <!-- <img src="assets/The Anh Em Company.png" alt=""> -->
    </div>
</div>
