<div class="container-fuild">
    <div class="header">
        <div class="lineo col-0"></div>
        <div class="row">
            <div class="name-header col-6">
                <div class="row">
                    <div class="col-lg-3">
                        <img class="avatar-right" src="assets/image/avatar.jpg" alt="" /></div>
                    <div class="name-right col-lg-9">
                        <h4>{{this.selectedUser.fullname}}</h4>
                        <p>Status</p>
                    </div>
                </div>
            </div>
            <div class="icon-right col-6 ">
                <div class="row float-right pr-5">
                    <button class="col-6 search pr-5">
                <i class="fas fa-search"></i>
              </button>

                    <button class="col-6 more">
          <i class="fas fa-ellipsis-v"></i>
        </button>
                </div>
            </div>
        </div>


        <div class="line col-12"></div>

    </div>
</div>
