<div class="container-fluid">
    <div class="chat-content">
        <div class="row">
            <div class="col-7"></div>
            <div class="user-content col-5  ">
                <div class="float-right ">
                    <div class="text">
                        <p>Binh Pháp T pháp (chữ Hán: 孫子兵法 / 孙子兵法; Pinyin: Sūnzĭ Bīngfǎ; WG: Sun1 Tzu3 Ping1 Fa3;) tên tiếng Anh của nó được gọi là The Art of War (tạm dịch: Nghệ thuật Chiến tranh) và còn được gọi là Binh pháp Ngô Tôn Tử, là sách chiến lược
                            chiến thuật chữ Hán do Tôn Vũ soạn thảo vào năm 512 TCN thời Xuân Thu. Cuốn sách chứa một lời giải thích và phân tích chi tiết về quân đội Trung Quốc, từ vũ khí và chiến lược đến cấp bậc và kỷ luật. Tôn Tử cũng nhấn mạnh tầm
                            qua
                        </p>
                    </div>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="friend-content col-5">
                <p>Tôn Tử binh pháp (chữ Hán: 孫子兵法 / 孙子兵法; Pinyin: Sūnzĭ Bīngfǎ; WG: Sun1 Tzu3 Ping1 Fa3;) tên tiếng Anh của nó được gọi là The Art of War (tạm dịch: Nghệ thuật Chiến tranh) và còn được gọi là Binh pháp Ngô Tôn Tử, là sách chiến lược chiến
                    thuật chữ Hán do Tôn Vũ soạn thảo vào năm 512 TCN thời Xuân Thu. Cuốn sách chứa một lời giải thích và phân tích chi tiết về quân đội Trung Quốc, từ vũ khí và chiến lược đến cấp bậc và kỷ luật. Tôn Tử cũng nhấn mạnh tầm quan trọng của
                    các nhà hoạt động tình báo và gián điệp đối với nỗ lực chiến tranh. Bởi vì Tôn Tử từ lâu đã được coi là một trong những nhà chiến thuật và phân tích quân sự giỏi nhất trong lịch sử, những lời dạy và chiến lược của ông đã hình thành
                    nên nền tảng của huấn luyện quân sự tiên tiến trong nhiều thế kỷ tới.</p>
            </div>
            <div class="col-7"></div>

        </div>
        <div class="row">
            <div class="friend-content col-5">
                <p>Tôn Tử binh pháp (chữ Hán: 孫子兵法 / 孙子兵法; Pinyin: Sūnzĭ Bīngfǎ; WG: Sun1 Tzu3 Ping1 Fa3;) tên tiếng Anh của nó được gọi là The Art of War (tạm dịch: Nghệ thuật Chiến tranh) và còn được gọi là Binh pháp Ngô Tôn Tử, là sách chiến lược chiến
                    thuật chữ Hán do Tôn Vũ soạn thảo vào năm 512 TCN thời Xuân Thu. Cuốn sách chứa một lời giải thích và phân tích chi tiết về quân đội Trung Quốc, từ vũ khí và chiến lược đến cấp bậc và kỷ luật. Tôn Tử cũng nhấn mạnh tầm quan trọng của
                    các nhà hoạt động tình báo và gián điệp đối với nỗ lực chiến tranh. Bởi vì Tôn Tử từ lâu đã được coi là một trong những nhà chiến thuật và phân tích quân sự giỏi nhất trong lịch sử, những lời dạy và chiến lược của ông đã hình thành
                    nên nền tảng của huấn luyện quân sự tiên tiến trong nhiều thế kỷ tới.</p>
            </div>
            <div class="col-7"></div>

        </div>
    </div>
</div>
