h2 {
    color: rgb(112, 112, 112);
    font-family: 'Squada One', cursive;
    font-size: 30px;
}

.logo {
    width: 125px;
    height: 75px;
    margin-top: auto;
}

.title {
    font-size: 15px;
}

.avatar {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 1px solid black;
}

.icon-send {
    height: 35px;
    width: 35 px;
    border: none;
    font-size: 30px;
    color: rgb(80, 80, 80);
    background-color: white;
}
