<div class="header" [style.background]="this.darkMode() ? this.background : ''" [style.color]="this.darkMode() ? this.color : ''">
    <div @headerAnimation class="header__infor">
        <button *ngIf="showListFriendButton()" (click)="showListFriend()" class="show-friend-list"><i class="fas fa-user-friends"></i></button>
        <img src="../../../../assets/image/avatar.jpg" class="header__avatar" />
        <h6 class="header__title">
            {{ this.getSelectedChatContent().name }} <br />
        </h6>
    </div>

    <div @iconAnimation class="header__actions">
        <div class="actions-container">
            <i class="far fa-eye" data-bs-toggle="modal" data-bs-target="#searchModal" data-bs-whatever="@getbootstrap"></i>

            <i class="fas fa-bars " (click)="this.showManager()" [style.color]="this.managerButtonDark?'#aaaaaa':''"></i>
        </div>

    </div>
    <app-search-message-modal></app-search-message-modal>
</div>
