<div class="typing row">
    <!-- <form action="" > -->
      <!-- <input type="text" class="input-text col-10"
      (keydown.enter)="sendToGroup()"
      *ngIf="this.isGroupSelected()"
       [(ngModel)]="this.message"
        aria-describedby="helpId" placeholder="Type a message..." /> -->
        <input type="text" class="input-text col-10"
        (keydown.enter)="sendTo()"
        *ngIf="this.isChatBoxSelected()"
         [(ngModel)]="this.message"
          aria-describedby="helpId" placeholder="Type a message..." />
        <div class="typing__actions col-2 row">
            <button class="btn images"> <i class="fas fa-image"></i></button>
            <button class="btn emotions"><i class="fas fa-smile "></i></button>
            <button  class="btn sending-text" (click)="sendTo()"  *ngIf="this.isChatBoxSelected()"><i class="fa fa-paper-plane"></i> </button>
        </div>
    <!-- </form> -->
</div>
