#right-manager {
    width: 350px;
    height: 100%;
    background-color: #221c1f;
    color: #a5a5a5;
    .header {
        padding-top: 25px;
        padding-bottom: 25px;
        width: 100%;
        text-align: center;
        .header__name {
            font-size: 30px;
            .close-icon {
                display: flex;
                align-items: center;
                font-size: 45px;
                float: right;
                width: 45px;
                height: 45px;
                cursor: pointer;
                &:hover {
                    transition: all 0.3s;
                    color: red;
                }
            }
        }
    }
    .manager__item {
        width: 100%;
        background-color: transparent;
        border: none;
        outline: none;
        float: left;
        cursor: pointer;
        .title {
            padding-left: 10px;
            font-size: 20px;
            margin-top: 10px;
            width: 100%;
            border: none;
            outline: none;
            border-radius: 10rem;
            background-color: transparent;
            color: #a5a5a5;
            &:hover {
                transition: linear .2s;
                transform: translateY(-3px);
                box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
                background-color: #000000;
            }
            &:active {
                background-color: #e8e8e8;
                transform: translateY(-1px);
                box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
            }
            &:active .title__icon {
                transition: all .2s;
                transform: rotate(180deg);
            }
        }
        .title__info {
            float: left;
        }
        .title__icon {
            margin-right: 30px;
            float: right;
        }
    }
    .active {
        background-color: #a5a5a5;
        transform: translateY(-1px);
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
        .title__icon {
            transform: rotate(180deg);
        }
    }
    .manager__item {
        width: 100%;
        margin-top: 5px;
        padding-left: 30px;
        // border-radius: 10rem;
        color: black;
        // text-transform: uppercase;
        font-size: 16px;
        transition: all .3s;
        position: relative;
        overflow: hidden;
        z-index: 1;
        &:after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: 10rem;
            z-index: -2;
            background-color: transparent;
            border: none;
            outline: none;
            float: left;
            cursor: pointer;
            .title {
                padding-left: 10px;
                font-size: 16px;
                margin-top: 5px;
                width: 100%;
                border: none;
                outline: none;
                border-radius: 10rem;
                background-color: #221c1f;
                &:hover {
                    transition: linear .2s;
                    transform: translateY(-3px);
                    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
                    background-image: linear-gradient(#d32a4c, #eb522cc4);
                }
                &:active {
                    background-color: #221c1f;
                    transform: translateY(-1px);
                    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
                }
                &:active .title__icon {
                    transition: all .2s;
                    transform: rotate(180deg);
                }
            }
            .title__info {
                float: left;
                color: #aaaaaa;
            }
            .title__icon {
                margin-right: 30px;
                float: right;
            }
        }
        .active {
            background-image: linear-gradient(#d32a4c, #eb522cc4);
            transform: translateY(-1px);
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
            .title__icon {
                transform: rotate(180deg);
            }
        }
        .chat-setting__list, .chat-sharing__list {
            padding: 0;
            margin: 0;
            .list__item {
                $color: #221c1f;
                width: 100%;
                margin-top: 5px;
                padding-left: 30px;
                border-radius: 10rem;
                color: #aaaaaa;
                // text-transform: uppercase;
                font-size: 16px;
                transition: all .3s;
                position: relative;
                overflow: hidden;
                z-index: 1;
                &:after {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-color: $color;
                    border-radius: 10rem;
                    z-index: -2;
                }
                &:before {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 0%;
                    height: 100%;
                    background-color: darken($color, 30%);
                    transition: all .3s;
                    border-radius: 10rem;
                    z-index: -1;
                }
                &:hover {
                    color: #fff;
                    &:before {
                        width: 100%;
                    }
                }
            }
        }
        .chat-private__list{
          display: flex;
          width: 350px;
          flex-wrap: wrap;
          border-radius: 0 !important;
          overflow-y: scroll;
          margin-block-start: 0px;
          padding-inline-start: 0px;
          .list__item{
            list-style: none;
            .image{
              box-sizing: border-box;
              margin: 2px;
              width: 100px;
              height: 100px;
            }
          }
      }
    }
    @media only screen and (max-width: 1024px) {
        .close-icon {
            .far {
                display: block;
            }
        }
    }
}
